body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #280679, #f058bd);
}

.stopwatch {
    width: 500px;
    margin: 150px auto;
    background-color: #c8f77e;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.time {
    font-size: 50px;
    margin-bottom: 10px;
}

.controls button {
    background-color: #404040;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    width: 150px;
    font-size: 20px;
}

.controls button:hover {
    background-color: #5b5b5b;
}

ul {
    list-style-type: none;
    margin-left: -45px;
}

li {
    margin-bottom: 10px;
    font-size: 20px;
}